@charset "UTF-8";
/*

Color Principal: #a76ae5 (Lila Vibrante)
Color Secundario: #50359e (Azul Profundo)
Color de Acento: #f495ef (Rosa Suave)
Color Neutro: #f1f1f1 (Gris Claro)
Color de Contraste: #4ce2a7 (Verde Menta)
Color de Texto: #333333 (Gris Oscuro)
Ejemplo de aplicación:
Header: Fondo en Lila Vibrante (#a76ae5) con texto en Gris Claro (#f1f1f1).
Botones de contacto: Fondo en Verde Menta (#4ce2a7) con texto en Gris Oscuro (#333333).
Sección Hero: Texto principal en Azul Profundo (#50359e), fondo neutro en Gris Claro (#f1f1f1).

*/
/*

Color Principal: #a76ae5 (Lila Vibrante)
Color Secundario: #50359e (Azul Profundo)
Color de Acento: #f495ef (Rosa Suave)
Color Neutro: #f1f1f1 (Gris Claro)
Color de Contraste: #4ce2a7 (Verde Menta)
Color de Texto: #333333 (Gris Oscuro)
Ejemplo de aplicación:
Header: Fondo en Lila Vibrante (#a76ae5) con texto en Gris Claro (#f1f1f1).
Botones de contacto: Fondo en Verde Menta (#4ce2a7) con texto en Gris Oscuro (#333333).
Sección Hero: Texto principal en Azul Profundo (#50359e), fondo neutro en Gris Claro (#f1f1f1).

*/
/*

Color Principal: #a76ae5 (Lila Vibrante)
Color Secundario: #50359e (Azul Profundo)
Color de Acento: #f495ef (Rosa Suave)
Color Neutro: #f1f1f1 (Gris Claro)
Color de Contraste: #4ce2a7 (Verde Menta)
Color de Texto: #333333 (Gris Oscuro)
Ejemplo de aplicación:
Header: Fondo en Lila Vibrante (#a76ae5) con texto en Gris Claro (#f1f1f1).
Botones de contacto: Fondo en Verde Menta (#4ce2a7) con texto en Gris Oscuro (#333333).
Sección Hero: Texto principal en Azul Profundo (#50359e), fondo neutro en Gris Claro (#f1f1f1).

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  width: 1000px;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
}
header h1 {
  font-size: 2.1rem;
  font-weight: 800;
}
header h1 span {
  color: #a76ae5;
}
header nav h2 {
  display: none;
}
header nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
header nav ul li a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
header nav ul li a:hover {
  color: #a76ae5;
}
header #btnOpen,
header #btnClose {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 400px) {
  header {
    width: 100%;
    height: 4rem;
    padding: 0 5%;
  }
  header h1 {
    font-size: 1.5rem;
  }
  header #btnClose,
  header #btnOpen {
    display: block;
  }
  header #btnOpen {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
  }
  header nav {
    opacity: 0;
  }
  header nav h2 {
    display: block;
  }
  header nav ul {
    display: none;
  }
  header .ul-visible {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 1rem;
    opacity: 1;
    transition: 0.3s ease-out;
  }
  header .ul-visible .menu {
    padding: 0 5%;
    margin: 1rem 0 1.5rem 0;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .ul-visible .menu #btnClose {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
  }
  header .ul-visible ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
    padding: 0 5%;
  }
  header .ul-visible ul li {
    border-bottom: 1px solid #e5e5e5;
    text-align: left;
    padding-bottom: 1rem;
  }
  header .ul-visible ul li a:hover {
    color: black;
  }
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 1000px;
}
main #hero {
  padding-top: 15rem;
  height: 40rem;
}
main #hero .hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #hero .hero-content .hero-greet {
  width: 100%;
  text-align-last: left;
}
main #hero .hero-content .hero-greet p {
  font-size: 2.5rem;
}
main #hero .hero-content .hero-title {
  border-bottom: 6px solid #a76ae5;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}
main #hero .hero-content .hero-title h2 {
  font-size: 5.5rem;
  letter-spacing: 1.5rem;
}
main #hero .hero-content .hero-description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
  text-align-last: left;
}
main #hero .hero-content .hero-description p {
  font-size: 1.3rem;
}
main #hero .hero-content .hero-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1.5rem;
}
main #hero .hero-content .hero-buttons .buttons a {
  text-decoration: none;
  background-color: #a76ae5;
  color: white;
  padding: 0.7rem 2.5rem;
  border-radius: 5px;
  font-size: 18px;
  margin: 1rem;
}
main #hero .hero-content .hero-buttons .buttons a:hover {
  background-color: rgb(240, 54, 240);
  transition: 0.3s;
}
main #hero .hero-content .hero-buttons .buttons .btn-secundary {
  background-color: white;
  color: #000;
  border: 2px solid #a76ae5;
}
main #hero .hero-content .hero-buttons .buttons .btn-secundary:hover {
  background-color: white;
}
main #aboutMe {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 31.25rem;
}
main #aboutMe .aboutme-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5%;
}
main #aboutMe .aboutme-content .aboutme-title {
  width: 100%;
}
main #aboutMe .aboutme-content .aboutme-title h2 {
  text-align: left;
  font-size: 3rem;
}
main #aboutMe .aboutme-content .aboutme-description {
  width: 100%;
  margin: 1rem 0;
}
main #aboutMe .aboutme-content .aboutme-description p {
  font-size: 1.5rem;
}
main #aboutMe .aboutme-content .aboutme-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main #aboutMe .aboutme-img {
  width: 100%;
  height: 100%;
  clip-path: polygon(24% 10%, 69% 6%, 95% 39%, 100% 62%, 66% 89%, 17% 91%, 0 68%, 0 35%);
  background-color: blue;
}
main #aboutMe .aboutme-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main #experience {
  padding-top: 5rem;
}
main #experience h2 {
  font-size: 3rem;
}
main #experience .box {
  width: 100%;
  height: 9rem;
  padding-left: 2rem;
  border-left: 3px solid #000;
  position: relative;
  margin: 2rem 0;
}
main #experience .box h3 {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}
main #experience .box p {
  font-size: 1.2rem;
  color: #333333;
}
main #experience .box .circle-box {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: -9px;
  top: 15px;
}
main #projects {
  padding-top: 5rem;
  width: 100%;
}
main #projects h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
main #projects .projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
main #projects .projects-container .project {
  width: 100%;
  height: 20rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
main #projects .projects-container .project .project-img {
  width: 100%;
  height: 12rem;
}
main #projects .projects-container .project .project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main #projects .projects-container .project .project-title {
  margin: 8px 10px;
}
main #projects .projects-container .project .project-title h3 {
  font-size: 18px;
}
main #projects .projects-container .project .project-description {
  min-height: 3rem;
  max-height: 3rem;
  margin: 2px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
main #projects .projects-container .project .project-description p {
  font-size: 14px;
  overflow: hidden;
  color: #333333;
  text-wrap: wrap;
  text-overflow: ellipsis;
}
main #projects .projects-container .project:hover {
  transition: 0.4s;
  transform: translateY(-5px);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
}
main #skills {
  margin: 2rem 0;
  padding-top: 5rem;
}
main #skills h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
main #skills .box-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}
main #skills .box-content .box {
  background-color: #fff;
  width: 10rem;
  height: 10rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
main #skills .box-content .box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main #contact {
  padding-top: 5rem;
  margin-bottom: 12rem;
  height: 15rem;
}
main #contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
main #contact a {
  background-color: purple;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}
main #contact p {
  margin: 1.5rem 0;
  font-size: 1.2rem;
  font-weight: 700;
}
main #contact h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}
main #contact .button {
  margin: 2.5rem 0;
}
main #contact .button a {
  background-color: #a76ae5;
  padding: 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

/*# sourceMappingURL=index.css.map */
