//* Hero
@mixin section-hero($heroH: 40rem, $pt: 0rem, $greet-p: 2.2rem, $hero-titleH2: 3.5rem, $ls: .4rem, $lineH: 4.5rem, $descriptionP: 1.2rem, ) {
    width: 100%;

    #hero {
        padding-top: $pt ;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $heroH;


        .hero-content {
            padding: 0 5%;
            height: 100%;

            .hero-greet {
                p {
                    font-size: $greet-p;
                    font-weight: 700;
                }
            }

            .hero-title {
                text-align: start;
                margin-top: 0rem;

                h2 {
                    font-size: $hero-titleH2;
                    letter-spacing: $ls;
                    font-weight: 900;
                    line-height: $lineH;
                }
            }

            .hero-description {
                p {
                    font-size: $descriptionP;
                }
            }

            .hero-buttons {

                .buttons {
                    display: flex;
                    gap: 1rem;
                    margin-top: -1rem;

                    a {
                        width: 50%;
                        font-size: 1rem;
                    }
                }
            }
        }

    }
}

@mixin section-hero-tablet {
    width: 100%;

    #hero {
        padding-top: 8rem;

        .hero-content {
            padding: 0 5%;
        }
    }
}

//*Sobre mi
@mixin section-aboutme($padding: 0rem, $mt: 0rem, $f-size: 1.2rem, $img-size: 225px, $grid: 1) {
    #aboutMe {
        width: 100%;
        height: auto;
        padding: $padding 5% 0;
        margin-top: $mt;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat($grid, 1fr);

        .aboutme-content {
            height: auto;

            .aboutme-title {
                margin-bottom: .5rem;
            }

            .aboutme-description {
                p {
                    font-size: $f-size;
                    color: #555;
                }
            }
        }

        .aboutme-img {
            height: $img-size;
            padding-bottom: 1rem;
        }

    }
}

//*Experience
@mixin section-experience($margin: 2.5rem, $h2Size: 2.5rem, $pl: 1.5rem) {
    #experience {
        padding: 0 5%;
        width: 100%;
        margin: $margin 0;
        h2 {
            font-size:$h2Size;
        }
        .box {
            height: auto;
            padding-left: $pl;
            margin: 1.5rem 0;

            h3 {
                font-size: 1.5rem;
            }
        }
    }
}

//* Projects
@mixin section-projects($gridCol: 1, $gap: 1rem, $paddingA: 7px 15px) {
    #projects {
        padding: 5rem 5% 0;
        width: 100%;

        .projects-container {
            display: grid;
            grid-template-columns: repeat($gridCol, 1fr);
            gap: $gap;

            .project {


                .project-button {
                    a {
                        padding: $paddingA;
                    }
                }

                &:hover {
                    transform: none;
                    box-shadow: none;
                    transition: none;
                }
            }
        }
    }
}