@import '../../partials/variables';

@mixin responsive($h1size: 1.5rem, $asize: 1.1rem, $ulgap: 1rem, $h2size: 1.5rem ) {
    width: 100%;
    height: 4rem;
    padding: 0 5%;

    h1 {
        font-size: $h1size;
    }

    #btnClose,
    #btnOpen {
        display: block;
    }

    #btnOpen {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 1.2rem;
    }

    nav {
        opacity: 0;

        h2 {
            display: block;
            font-size: $h2size;
        }

        ul {
            display: none;
        }

    }

    .ul-visible {
        display: block;
        background-color: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200vh;
        padding-top: 1rem;
        opacity: 1;
        transition: .3s ease-out;

        .menu {
            padding: 0 5%;
            margin: 1rem 0 1.5rem 0;
            gap: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            #btnClose {
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 1.2rem;
            }
        }

        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: $ulgap;
            margin: 1rem 0;
            padding: 0 5%;

            li {
                border-bottom: 1px solid #e5e5e5;
                text-align: left;
                padding-bottom: 1rem;

                a {
                    font-size: $asize;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }

}