@import './responsive/heroResponisve';

@mixin hero {
    #hero {
        padding-top: 15rem;
        height: 40rem;

        .hero-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .hero-greet {
                width: 100%;
                text-align-last: left;

                p {
                    font-size: 3.5rem;
                    font-weight: 700;
                    color:  #5c3eff;
                }
            }

            .hero-title {
                border-bottom: 6px solid $color-printipal;
                width: 100%;
                text-align: center;
                margin-top: 1rem;

                h2 {
                    font-size: 5.5rem;
                    letter-spacing: 1.5rem;
                }
            }

            .hero-description {
                margin: 1.2rem 0;
                width: 100%;

                p {
                    font-size: 1.4rem;
                    color: #555;
                }
            }

            .hero-buttons {
                width: 100%;
                display: flex;
                justify-content: center;
                align-content: center;
                margin-top: 1.5rem;

                .buttons {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        background-color: $color-printipal;
                        color: white;
                        height: 3rem;
                        width: 20%;
                        border-radius: 5px;
                        font-size: 18px;

                        &:hover {
                            background-color: rgb(240, 54, 240);
                            transition: .3s;
                        }
                    }

                    .btn-secundary {
                        background-color: white;
                        color: #000;
                        border: 3px solid #f495ef;

                        &:hover {
                            background-color: white;
                        }
                    }
                }
            }
        }

    }
    @include responsive-hero;

}