//Todo: Paleta de colores

$bg-body: #ffffff;
$color-printipal: #a76ae5;


$color-text: #333333;




/*
 
Color Principal: #a76ae5 (Lila Vibrante)
Color Secundario: #50359e (Azul Profundo)
Color de Acento: #f495ef (Rosa Suave)
Color Neutro: #f1f1f1 (Gris Claro)
Color de Contraste: #4ce2a7 (Verde Menta)
Color de Texto: #333333 (Gris Oscuro)
Ejemplo de aplicación:
Header: Fondo en Lila Vibrante (#a76ae5) con texto en Gris Claro (#f1f1f1).
Botones de contacto: Fondo en Verde Menta (#4ce2a7) con texto en Gris Oscuro (#333333).
Sección Hero: Texto principal en Azul Profundo (#50359e), fondo neutro en Gris Claro (#f1f1f1).

*/