@import '../partials/mixins';
@import '../partials/variables';
@import '../partials/breakpoints';
@import '../structure/responsiveHeader/responsiveHeader';

//Todo: Estilos del header


@mixin header-style {
    width: 1000px;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);

    h1 {
        font-size: 2.1rem;
        font-weight: 800;

        span {
            color: $color-printipal;
        }
    }

    nav {
        h2 {
            display: none;
        }

        ul {
            display: flex;
            gap: 1.5rem;
            list-style: none;

            li {
                a {
                    font-size: 18px;
                    font-weight: 500;
                    text-decoration: none;
                    color: black;
                    cursor: pointer;

                    &:hover {
                        color: $color-printipal;
                    }

                }
            }
        }
    }

    #btnOpen,
    #btnClose {
        display: none;
    }

    //Responsive
    @include responsive-display;
}